PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/trazabilidad_municipal?schema=public"
JWT_SECRET="reemplaza-esta-clave-por-una-segura-de-al-menos-16-caracteres"
JWT_EXPIRES_IN="8h"
FRONTEND_URL="http://localhost:5173"
